{
  "parser": "@babel/eslint-parser",
  "extends": [
    "next",
    "next/core-web-vitals",
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["prettier", "react-hooks", "react", "babel"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true,
  },
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/react-in-jsx-scope": "off",
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "array-bracket-spacing": [1, "never"],
    "arrow-spacing": 1,
    "babel/camelcase": 0,
    "babel/no-invalid-this": 1,
    "babel/semi": 1,
    "babel/object-curly-spacing": 0,
    "babel/quotes": 0,
    "babel/no-unused-expressions": 0,
    "brace-style": [1, "1tbs"],
    "comma-dangle": [1, "always-multiline"],
    "computed-property-spacing": [1, "never"],
    "consistent-this": [1, "self"],
    "curly": [1, "all"],
    "eqeqeq": [1, "always"],
    "indent": [1, 2, { "SwitchCase": 1 }],
    "max-nested-callbacks": [1, { "max": 4 }],
    "no-console": 1,
    "no-debugger": 1,
    "no-extra-semi": 1,
    "no-template-curly-in-string": 1,
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
    "no-use-before-define": [1, { "functions": false }],
    "no-var": 1,
    "object-curly-spacing": [1, "always"],
    "prefer-arrow-callback": 1,
    "react/jsx-uses-react": 1,
    "react/display-name": 0,
    "react/prop-types": "error",
    "react/require-default-props": 1,
    "react/destructuring-assignment": [1, "always", ],
    "semi": 1,
    "space-before-blocks": [1, "always"],
    "space-before-function-paren": [1, { "named": "never", "asyncArrow": "always" }],
    "space-in-parens": [1, "never"],
    "spaced-comment": 0,
    "no-useless-escape": 0,
    "template-curly-spacing": [1, "never"],
    "quotes": [1, "single", { "allowTemplateLiterals": true }]
  }
}
